/* LoginPage.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.button-register {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button-register:hover {
  background-color: #007bff;
  color: #fff;
}
